<template name="station">
  <h2>Learn Stations!</h2>

  <h2>Stations!</h2>
  <ul>
    <li>
      <form class="info-station-add">
        <input type="name" name="stationName" class="stationName" placeholder="Station name" required> <button type="button" name="queryStation" class="queryStation" title="Query Station" value="itzelbritzel"></button>
        <input type="name" name="eva" placeholder="EVA" required>
        <input type="submit" name="submit" value="Add new Station">
      </form>
    </li>
    {{#each stations}}
      <li>{{name}}, {{result.[0].name}} (number: {{result.[0].number}},) , (EVA: {{eva}}) <button name="deleteButton" class="deleteButton" title="Delete" value="{{_id}}" ></button>
      </li>
    {{/each}}
  </ul>
</template>
